@using Domain.Entities;

@model List<Product>

@{
    ViewBag.Title = "Goods";
}

<h2>Goods</h2>

@foreach(Product p in Model)
{
    <p>@p.Name</p>
    <p>@p.Description</p>
    <p>@p.Category.Description</p>
}