@using Store.Models;
@using Store.HtmlHelpers;
@model ProductListViewModel

@{
    ViewBag.Title = "Products";
}
<div class="row">
    @if (Model.Products.Count() == 0)
    {
        
    }
    @foreach (var p in Model.Products)
    {
        @Html.Partial("_ProductSummary", p);
    }
</div>
<br />
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
